table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }

.button {
    border: 1px solid black;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*align-items: center;*/
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#inOrOut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-grow: 6;
}

ul li {
    width: 72%;
    margin: 10px;
    padding: 15px;
}

/*#newOrder {
    flex-grow: 6;
}*/

#shiftSummary {
    text-align: center;
}

#startShift {
    border: 1px solid black;
}

#endShift {
    border: 1px solid black;
}

#resetShift {
    border: 1px solid black;
}

#milesInfo {
    text-align: center;
    font-size: 20px;
}

#toastInTown {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toastInTown.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toastOutOfTown {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toastOutOfTown.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}